/* Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

h1,
h2  {
    font-weight: 700;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-right: 10px;
}


.flex-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    width: 100%;
}

.input-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px;
    border: 0.5px solid #E6E6E6;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
/* GENDER SELECTION */
.gender-box,
.height-box,
.weight-box,
#height-select,
#weight-select {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.height-box,
.weight-box {
    flex-direction: column;
}

/* Style input boxes */
.height-input input,
.weight-input input {
    width: 50px;
    text-align: center;
}

#height-select {
    margin-bottom: 10px;
}

.gender-box label,
.height-box label,
.weight-box label {
    padding: 0 5px;
}

#cm-label,
#lbs-label {
    display: none;
}

/* BUTTONS */
.calc-btn {
    padding: 20px 20px;
    color: white;
    background: red;
    text-decoration: none;
    margin-top: 50px;
}